<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Documentacion API</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Documentacion de la API</h1>
  <hr>
  <h3>Requerimiento 6. Documentacion RECURSOS</h3>
<table>
  <tr><td>Número</td> <td>1</td></tr>
  <tr><td>Nombre del Servicio</td>  <td>Listar Recursos</td></tr>
  <tr><td>URI</td>  <td>/recursos/listar</td></tr>
  <tr><td>Descripcion</td>  <td>Permite listar los recursos registrados en la base de datos</td></tr>
  <tr><td>Verbo HTTP</td>  <td>Verbo Get</td></tr>
  <tr><td>Header</td>  <td>Null</td></tr>
  <tr><td>Request json</td>  <td> </td></tr>
  <tr><td>Respuesta json</td>  <td>	
    Correcto: 
    Status: 200
    json:
    {
      "id_recursos": 13,
      "precio": 250,
      "fk_id_tipo_recursos": 24
    }
  <br>
Incorrecto:

Status: 404
body:{
  "status": 404
  "message" : "No se encontraron recursos."
}
<br>
Error: 

Status: 500 
json: {
  status: 500
  "message" : "Error en el sistema"
}
</td></tr>
</table>
<hr> <br>
<table>
  <tr><td>Número</td> <td>2</td></tr>
  <tr><td>Nombre del Servicio</td>  <td>Registrar Recursos</td></tr>
  <tr><td>URI</td>  <td>/recursos/registrar</td></tr>
  <tr><td>Descripcion</td>  <td>Permite registrar recursos en la base de datos</td></tr>
  <tr><td>Verbo HTTP</td>  <td>Verbo POST</td></tr>
  <tr><td>Header</td>  <td>Null</td></tr>
  <tr><td>Request json</td> <td>{
    "fk_id_tipo_recursos": 14,
    "precio": 250.000
  } </td></tr>
  <tr><td>Respuesta json</td>  <td>	
    Correcto: 
    Status: 200
    json:
    {
      "status": 200,
      "message": "Registro exitoso de sus recursos"
    }
  <br>
Incorrecto:

Status: 404
body:{
  "status": 404
  "message" : "Fallo el registro de sus recursos"
}
<br>
Error: 

Status: 500 
json: {
  status: 500
  "message" : "Error en el sistema"
}
</td></tr>
</table>
<hr><br>
<table>
  <tr><td>Número</td> <td>3</td></tr>
  <tr><td>Nombre del Servicio</td>  <td>Actualizar Recursos</td></tr>
  <tr><td>URI</td>  <td>/recursos/actualizar</td></tr>
  <tr><td>Descripcion</td>  <td>Permite actualizar recursos en la base de datos</td></tr>
  <tr><td>Verbo HTTP</td>  <td>Verbo PUT</td></tr>
  <tr><td>Header</td>  <td>Null</td></tr>
  <tr><td>Request json</td>  <td>{
    "fk_id_tipo_recursos": 14,
    "precio": 250.000
  } </td></tr>
  <tr><td>Respuesta json</td>  <td>	
    Correcto: 
    Status: 200
    json:
    {
      "status": 200,
      "message": "La informacion ha sido actualizada"
    }
  <br>
Incorrecto:

Status: 404
body:{
  "status": 404
  "message": "No se pudo actualizar la información!"
}
<br>
Error: 

Status: 500 
json: {
  status: 500
  "message" : "Error en el sistema"
}
</td></tr>
</table>
<hr> <br>
<table>
  <tr><td>Número</td> <td>4</td></tr>
  <tr><td>Nombre del Servicio</td>  <td>Buscar Recursos</td></tr>
  <tr><td>URI</td>  <td>/fincas/buscar</td></tr>
  <tr><td>Descripcion</td>  <td>Permite buscar los recursos registrados en la base de datos</td></tr>
  <tr><td>Verbo HTTP</td>  <td>Verbo Get</td></tr>
  <tr><td>Header</td>  <td>Null</td></tr>
  <tr><td>Request json</td>  <td></td></tr>
  <tr><td>Respuesta json</td>  <td>	
    Correcto: 
    Status: 200
    json:
    {
      "fk_id_tipo_recursos": 14,
      "precio": 250.000
    }
  <br>
Incorrecto:

Status: 404
body:{
  "status": 404
  "message" : "No se encontraron recursos con ese ID"
}
<br>
Error: 

Status: 500 
json: {
  status: 500
  "message" : "Error en el sistema"
}
</td></tr>
</table>
</body>
</html>